section.section-contact

  h2#Details
    i.icon.icon-share2
    | Επικοινωνια

  hr.bar

  div.social-links
    a(href='https://www.facebook.com/kostas.kostarelo')
      div(class="icon icon-facebook")
    a(href='https://twitter.com/kbariotis')
      div(class="icon icon-twitter")
    a(href='https://gr.linkedin.com/in/kostas-bariotis-2a8b7481')
      div(class="icon icon-linkedin2")
    a(href='mailto:konmpar@gmail.com')
      div(class="icon icon-mail2")

