footer
  div.logo
  div.container
    div.menu
      nav
        a(href='#about-me') Σχετικα
        a(href='#Blog') Επισοδια
        a(href='#Details') Επικοινωνια

    .copyright
      | Devastation Podcast &copy; 2015 / Thank you modd for the logo.
