footer
  div.container
    div.menu
      nav
        a(href='/#about-me') Σχετικα
        a(href='/#episodes') Επισοδια
        a(href='/#subscribe') Επικοινωνια

    .copyright
      | Devastation Podcast &copy; 2015 / Ευχαριστώ για το logo, Mod!
