a(href="#" class="back-to-top") Back To Top
a(href="/")
  #container.logo
header#h_small

  nav#nav_small
    a(href='#about-me') Σχετικα
    a(href='#Blog') Επισοδια
    a(href='#Details') Επικοινωνια

