section.contact-form
  h2#Contact
    i.icon.icon-mail4
    | Επικοινωνια
  hr.bar

  form(method="post" action="//formspree.io/example@gmail.com")
    .contact-info-group
      label
        span Το ονομα σου
        input(type="text" name="name")
      label
        span Το Email σου
        input(type="email" name="_replyto")
    label
      span Μηνυμα
      textarea(name="Message")
      .submit-wrap
        input(type="submit" value="Αποστολη")
