section.subscribe-form
  h2#subscribe
    i.icon.icon-mail4
    | Ενημερωση
  hr.bar

  div#mc_embed_signup
    form.validate#mc-embedded-subscribe-form(target="_blank" method="post" name="mc-embedded-subscribe-form" action="//wordpress.us7.list-manage.com/subscribe/post?u=7328aa08c74bc091df2bd36f1&amp;id=4209ce47ad")
      div#mc_embed_signup_scroll
        input.email#mce-EMAIL(type="email" value="" name="EMAIL" placeholder="διεύθυνση email" required)
        div(style="position: absolute; left: -5000px;" aria-hidden="true")
          input(type="text" name="b_7328aa08c74bc091df2bd36f1_4209ce47ad" tabindex="-1" value="")
        div.clear
          input.button#mc-embedded-subscribe(type="submit" value="Εγγραφη" name="subscribe")
