---
layout: default
title: Devastation Podcast - Το podcast για developers
---
<div class="blog-posts">

    <div class="container">
      {% for post in site.posts %}
        <div class="post-item">
            <div class="post-header">
               {% case post.layout %}

                    {% when 'post_simple' %}
                      {% include simple_post_header.html %}

                    {% when 'post_image' %}
                      {% include image_post_header.html %}

                    {% when 'post_video' %}
                      {% include video_post_header.html %}

                    {% when 'post_audio' %}
                      {% include audio_post_header.html %}

                    {% else %}
                      {% include simple_post_header.html %}

               {% endcase %}
            </div>
            <div class="post-body">
                <div class="meta">
                    <span class="date">
                      {% assign m = post.date | date: "%-m" %}
                      {{ post.date | date: "%-d" }}
                      {% case m %}
                        {% when '1' %}ΙΑΝΟΥΑΡΙΟΥ
                        {% when '2' %}ΦΕΒΡΟΥΑΡΙΟΥ
                        {% when '3' %}ΜΑΡΤΙΟΥ
                        {% when '4' %}ΑΠΡΙΛΙΟΥ
                        {% when '5' %}ΜΑΙΟΥ
                        {% when '6' %}ΙΟΥΝΙΟΥ
                        {% when '7' %}ΙΟΥΛΙΟΣ
                        {% when '8' %}ΑΥΓΟΥΣΤΟΥ
                        {% when '9' %}ΣΕΠΤΕΜΒΡΙΟΥ
                        {% when '10' %}ΟΚΤΩΒΡΙΟΥ
                        {% when '11' %}ΝΟΕΜΒΡΙΟΥ
                        {% when '12' %}ΔΕΚΕΒΡΙΟΥ
                      {% endcase %}
                      {{ post.date | date: "%Y" }}
                    </span>
                </div>
                <a href="{{ post.url }}">
                    <h2 class="title">{{ post.title }}</h2>
                </a>
                <div class="content">
                    {{ post.excerpt }}
                </div>
            </div>
            <a href="{{ post.url }}" class="post-more">Άκουσε το</a>

            <ul class="post-socials">
              <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{post.url}}&t={{post.title}}" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{post.url}}&text={{post.title}}&url={{site.url}}{{post.url}}" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/share?url={{site.url}}{{post.url}}" target="_blank">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{post.url}}&title={{post.title}}&summary=&source={{site.url}}{{post.url}}" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
        </div>
        {% endfor %}

        <!-- <div id="blog-pagination">
            <ul>
                {% if paginator.previous_page %}
                <li class="prev"><a href="{{paginator.previous_page_path}}"><i class="fa fa-angle-left"></i><span>Προηγούμενα</span></a></li>
                {% endif %}
                {% if paginator.previous_page or paginator.next_page%}
                <li class="separator"></li>
                {% endif %}
                 {% if paginator.next_page %}
                <li class="next"><a href="{{paginator.next_page_path}}"><span>Επόμενα</span><i class="fa fa-angle-right"></i></a></li>
                {% endif %}
            </ul>
        </div> -->

        {% include subscribe.html %}
    </div>
</div>
