<section>
  <h2 id="about-me">
    <i class="icon icon-user"></i>
    Σχετικα
  </h2>
  <hr class="bar"/>
  <div class="avatar-container">
    <img src="/assets/img/kostasbariotis.jpg" alt="Kostas Bariotis" class="avatar">
  </div>
  <div class="blurb">
    <p>Είμαι ο Κώστας Μπαριώτης και αυτό είναι το DEVastation Podcast. Δημιουργήθηκε με σκοπό να
      μάθω περισσότερα πράγματα απο ανθρώπους που θέλουν να μοιραστούν την γνώση και τις εμπειρίες τους μαζί μου κι
      εγώ με την σείρα μου να τις μοιραστώ μαζί σας. Κάθε επισόδιο θα περιλαμβάνει έναν καλεσμένο και μια συζήτηση
      μαζί μου για κάποια θεματική ενότητα.</p>
  </div>
  <div class="skill-lock"></div>
</section>