<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.summary }}">
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.summary }}">
  <meta itemprop="image" content="{{site.url}}/img/devastation-tv-og.jpg">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  <meta name="google-site-verification" content="TAD6re7vog_mtEccNEeZC0QTmBeZppmhQdZdcomPv1g" />

  <link rel="stylesheet" href="/css/base.css">

  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/DevastationPodcast" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@devastationtv">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta name="twitter:creator" content="@devastationtv">
  <meta name="twitter:image:src" content="{{site.url}}/img/devastation-tv-og.jpg">

  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{site.url}}{{page.url}}" />
  <meta property="og:image" content="{{site.url}}/img/devastation-tv-og.jpg" />
  <meta property="og:description" content="{{ page.summary }}" />
  <meta property="og:site_name" content="Devastation Podcast" />

  <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/img/icons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/img/icons/manifest.json">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/img/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2016-12-09" content="Ao6WLKfhDQabowMT0Jejra7nj4r55cDLfI7EbWbp1d2JK9Ys2LqFkg5ARAjCdURUZlMhpA7/ZfXa11oFs4QK1w0AAABZeyJvcmlnaW4iOiAiaHR0cHM6Ly9rb3N0YXNiYXJpb3Rpcy5jb206NDQzIiwgImZlYXR1cmUiOiAiV2ViU2hhcmUiLCAiZXhwaXJ5IjogMTQ4MTMwNzc5Nn0=">
</head>

<body>
  <header>
    <div id="logo">
      <img src="/img/devastation-podcast-mini-logo.png" alt="Devastation Podcast">
    </div>
    <div id="site-heading">
      <h1 class="title">Devastation Podcast</h1>
      <h2 class="subtitle">Το podcast για developers</h2>
    </div>
    <ul id="nav">
      <li class="{% if page.url == '/' %}active{% endif %}">
        <a href="/">Αρχικη</a>
      </li>
      <li class="{% if page.url == '/episodes/' %}active{% endif %}">
        <a href="/episodes">Επεισοδια</a>
      </li>
      <li class="{% if page.url == '/pages/about/' %}active{% endif %}">
        <a href="/pages/about">Σχετικα</a>
      </li>
      <li>
        <a href="#" id="contact-section">Επικοινωνια</a>
      </li>
    </ul>
    <div id="contact-wrapper">
      <div id="contact-content">
        <i class="fa fa-envelope-o contact-icon"></i>
        <ul id="contact-list">
          <li><a href="mailto:info@devastation.tv">info@devastation.tv</a></li>
          <!-- <li class="separator">/</li> -->
        </ul>
      </div>
      <a href="#" id="contact-close"><i class="fa fa-times"></i></a>
    </div>
  </header>
  <div id="main-contents">
