<section class="contact-form">
  <h2 id="Contact">
    <i class="icon icon-mail4"></i>
    Επικοινωνια
  </h2>
  <hr class="bar"/>
  <form method="post" action="//formspree.io/example@gmail.com">
    <div class="contact-info-group">
      <label><span>Το ονομα σου</span><input type="text" name="name"/></label>
      <label><span>Το Email σου</span><input type="email" name="_replyto"/></label>
    </div>
    <label>
      <span>Μηνυμα</span>
      <textarea name="Message"></textarea>

      <div class="submit-wrap"><input type="submit" value="Αποστολη"/></div>
    </label>
  </form>
</section>