<div class="subscribe text-center">
  <div class="form-header">Ενημερωθείτε για καινούρια επεισόδια</div>
    <form action="//wordpress.us7.list-manage.com/subscribe/post?u=7328aa08c74bc091df2bd36f1&amp;id=4209ce47ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
      <div class="form-group">
        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="διεύθυνση email" required>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7328aa08c74bc091df2bd36f1_4209ce47ad" tabindex="-1" value=""></div>
      <input type="submit" value="Εγγραφή" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
    </form>
    <div class="subscribe-icons">
      <ul class="list-inline">
        <li class="text-center">
          <p>iTunes</p>
          <a target="_blank" href="https://itunes.apple.com/gr/podcast/devastation-podcast/id1092869854">
            <i class="fa fa-music fa-3x"></i>
          </a>
        </li>
        <li class="text-center">
          <p>RSS</p>
          <a target="_blank" href="/feed.xml">
            <i class="fa fa-rss fa-3x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
