---
layout: default
---

{% include header.html %}

{% include about.html %}

<section class="posts">

  <h2>
    <i class="icon icon-podcast"></i>
    Επισοδια
  </h2>

  <hr class="bar"/>
  {% for post in site.categories['podcast'] limit:3%}
  <div class="post-header title">
    <a href="{{post.url}}"><h1 class="post-title">{{ post.title }}</h1></a>
  </div>
  <div class="post-header date">
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y — %H:%M" }}{% if post.author %} • {{ post.author }}{% endif
      %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
  </div>

  {% endfor %}
</section>


{% include contact.html %}

{% include message.html %}
