---
layout: default
title: Αρχείο Επεισοδίων - Devastation Podcast
---
<div class="container">
    <div class="page-contents">
        <h2 class="page-title first-elem"> Αρχείο Επεισοδίων</h2>
        <h3 class="page-subtitle">Επεισόδια στην κατηγορία {{ page.tag }}</h3>

        <ul id="ptitle-list">

        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if tag == page.tag %}

                <li class="clearfix">
                  {% assign m = post.date | date: "%-m" %}
                  {{ post.date | date: "%-d" }}
                  {% case m %}
                    {% when '1' %}ΙΑΝΟΥΑΡΙΟΥ
                    {% when '2' %}ΦΕΒΡΟΥΑΡΙΟΥ
                    {% when '3' %}ΜΑΡΤΙΟΥ
                    {% when '4' %}ΑΠΡΙΛΙΟΥ
                    {% when '5' %}ΜΑΙΟΥ
                    {% when '6' %}ΙΟΥΝΙΟΥ
                    {% when '7' %}ΙΟΥΛΙΟΣ
                    {% when '8' %}ΑΥΓΟΥΣΤΟΥ
                    {% when '9' %}ΣΕΠΤΕΜΒΡΙΟΥ
                    {% when '10' %}ΟΚΤΩΒΡΙΟΥ
                    {% when '11' %}ΝΟΕΜΒΡΙΟΥ
                    {% when '12' %}ΔΕΚΕΒΡΙΟΥ
                  {% endcase %}
                  <span class="date">{{ post.date | date: "%Y" }}</span>
                	<span class="seperator">--</span>
                    <a href="{{site.url}}{{ post.url }}"><h3 class="title">{{ post.title }}</h3></a>
                </li>

                {% endif %}
            {% endfor %}
        {% endfor %}

        </ul>
    </div>
    {% include subscribe.html %}
</div>
